@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

	/* COLORS */

	/** DESCRIPTION : set the colors used **/
	:root {
		--focus-bg: #000 !important;
		--nav-bg: #1B1B1D !important;
		--tab-bg: #222225 !important;
		--tool-bg: #242425 !important;
		--url-bg: #2A2A2E !important;
		--tab-bg-select: #2A2A2E !important;
		--border-color: #000 !important;
		--border-color-2: #111 !important;
		--primary-color: #FFF !important;
		--invert: invert(1) !important;
	}

	/* GENERAL */

	/** DESCRIPTION : set the main font and others details **/
	* {
		font-family: "Roboto", "ぼくたちのゴシック２ボールド" !important;
	}

	*::-moz-focus-inner {
		border: 0;
	}

	html {
		overflow: auto;
	}

	#downloads-indicator-anchor,
	.toolbarbutton-1 > .toolbarbutton-icon, 
	.toolbarbutton-1 > .toolbarbutton-badge-stack > .toolbarbutton-icon {
    	filter: brightness(1) invert(1) !important;
	}

	#PersonalToolbar .toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover, 
	.tabbrowser-arrowscrollbox > .scrollbutton-up:not([disabled="true"]):hover, 
	.tabbrowser-arrowscrollbox > .scrollbutton-down:not([disabled="true"]):hover, 
	.findbar-button:not(:-moz-any([checked="true"], [disabled="true"])):hover > .toolbarbutton-text, 
	toolbarbutton.bookmark-item:not(.subviewbutton):hover:not([disabled="true"]):not([open]), 
	toolbar .toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-icon, 
	toolbar .toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-text, 
	toolbar .toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-badge-stack {
		background-color: transparent !important;
	}

	.autocomplete-history-dropmarker.urlbar-history-dropmarker,
	#identity-box,
	#page-action-buttons,
	.panel-arrow,
	.search-one-offs,
	#sidebar-header,
	#stop-reload-button,
	.tab-icon-image:not([pinned]),
	.tabs-newtab-button,
	#TabsToolbar .tabbrowser-tab:after,
	#TabsToolbar .tabbrowser-tab:before,
	.titlebar-min,
	#titlebar-min,
	.titlebar-max,
	#titlebar-max,
	.titlebar-placeholder[type="pre-tabs"],
	.titlebar-spacer[type="pre-tabs"],
	#tracking-protection-icon-container {
		display: none !important;
	}

	/* POPUP */

	/** DESCRIPTION : change the elements of the popup dialog **/
	[class^=PanelUI-],
	#downloadsFooterButtons,
	#downloadsListBox,
	#emptyDownloads,
	.panel-subview-body,
	.panel-subview-footer,
	menupopup,
	menupopup > menu > menupopup,
	popup,
	popup > menu > menupopup {
		-moz-appearance: none !important;
		background: #1B1B1D !important;
		border: none !important;
	}

	menupopup,
	menupopup > menu > menupopup,
	popup,
	popup > menu > menupopup {
		padding: 10px !important;
	}

	menuitem,
	menupopup menu {
		-moz-appearance: none !important;
		color: #FFF !important
	}

	menupopup menuseparator {
		-moz-appearance: none !important;
		background: rgba(0, 0, 0, 0) !important;
		border: 0 !important;
	}

	#context-navigation menuitem,
	.panel-arrowcontent {
		background-color: #1B1B1D !important;
		color: #FFF !important;
		padding-bottom: 10px !important;
	}

	#context-navigation,
	#context-sep-navigation {
		padding: 0 !important;
	}

	/* TOOLBAR */

	/** DESCRIPTION : change the elements in the toolbar **/
	#navigator-toolbox {
		/*** TOOLBAR TOOLBOX ***/
		background: #1B1B1D !important;
	}

	#navigator-toolbox > toolbar {
		box-shadow: none !important;
	}

	#navigator-toolbox toolbar #menubar-items {
		margin-top: 10px !important;
		margin-bottom: 10px !important;
		margin-left: 10px !important;
	}

	#navigator-toolbox toolbar #menubar-items * {
		color: #FFF;
		font-size: 10pt !important;
	}

	/* PERSONAL TOOLBAR */

	/** DESCRIPTION : change the elements of the personal toolbar **/
	#PersonalToolbar {
		height: 40px !important;
		padding-top: 2px !important;	
	}

	/* TABBAR */

	/** DESCRIPTION : change the elements in the tabbar **/

	#TabsToolbar {
		/*** TABBAR TOOLBAR ***/
		background: #242425 !important;
		border-top: 1px solid #000 !important;
		border-bottom: 1px solid #000 !important;
		margin-bottom: 0 !important;
	} 

	.tabbrowser-tab {

		/*** TABBAR TABS ***/
		background: #222225 !important;
		border-right: 1px solid #000 !important;
		color: #FFF !important;
	}

	.tab-background[selected="true"] {

		/*** TABBAR TABS SELECTED ***/
		background: #2A2A2E !important;
		height: 50px !important;
		margin-top: -3px !important;
	}

	.tab-content[pinned] {

		/*** TABBAR TABS PINNED ***/
		width: 52px !important;
		text-indent: 20px !important;
	}

	.tab-content[pinned] .tab-icon-image {
		margin-left: 5px !important;
	}

	.tab-label-container {

		/*** TABBAR TABS CONTENT ***/
		font-size: 10pt !important;
		padding-left: 5px !important;
	}

	#tabbrowser-tabs .tab-close-button {

		/*** TABBAR TABS CLOSE BUTTON ***/
		background: url('http://imgur.com/4GlrMN7.png') no-repeat 50% 50%;
		background-size: 20px auto !important;
		height: 0px !important;
		width: 0px !important;
		padding: 10px 0 0 20px !important;
		opacity: .7 !important;
		margin-right: 5px !important;
		filter: brightness(0) invert(1) !important;
	}

	#tabbrowser-tabs .tab-close-button:hover {
		background: url("http://i.imgur.com/tssw3Nx.png") no-repeat 50% 50% !important;
		background-size: 20px auto !important;
		padding: 10px 0 0 20px !important;
		opacity: .5 !important;
	}

	.titlebar-close,
	#titlebar-close {

		/*** TABBAR CLOSE BUTTON ***/
		list-style-image: url("https://i.imgur.com/qzZ5RJH.png") !important;
	}

	.titlebar-close:hover,
	#titlebar-close:hover {
		background-color: transparent !important;
		opacity: .5 !important;
	}

	.titlebar-button > .toolbarbutton-icon {
		width: 15px !important;
		height: 15px !important;
	}

	/* NAVBAR */

	/** DESCRIPTION : change the elements of the navbar **/
	#nav-bar {
		border-bottom: 1px solid #000 !important;
		margin-bottom: -1px !important;
	}
	
	#navigator-toolbox > toolbar:not(#toolbar-menubar):not(#TabsToolbar) {
		background: #1B1B1D !important;
		border-color: #000 !important;
	}

	#nav-bar #back-button > .toolbarbutton-icon {

		/*** NAVBAR BACK BUTTON ***/
		background: url("http://i.imgur.com/tONrOjq.png") !important;
		background-repeat: no-repeat !important;
		background-size: 30px auto !important;
		background-position: center center !important;
		border: none !important;
		height: 0px;
		width: 0px;
		padding: 30px 0px 0px 15px !important;
		margin-top: 0px !important;
	}

	#nav-bar #back-button#back-button#back-button>image.toolbarbutton-icon {
		box-shadow: none !important;
	}

	#nav-bar #back-button {
		list-style-image: none !important;
	}

	#nav-bar #forward-button {

		/*** NAVBAR FORWARD BUTTON ***/
		background: url("http://i.imgur.com/fAZe280.png") !important;
		background-repeat: no-repeat !important;
		background-size: 30px auto !important;
		background-position: center center !important;
		border: none !important;
		width: 0px;
		height: 0px;
		padding: 30px 0px 0px 15px !important;
		margin-top: 0px !important;
		margin-right: 0px;
		margin-left: -10px !important;
		filter: brightness(0) invert(1) !important;
	}

	#searchbar > .searchbar-textbox,
	#urlbar {

		/*** NAVBAR URL BAR ***/
		background: #2A2A2E !important;
		border: 1px solid #111 !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
		color: #FFF !important;
	}

	.urlbar-textbox-container {

		/*** NAVBAR URL BAR TEXT CONTAINER ***/
		margin-top: -1px !important;
		margin-left: 5px !important;
	}

	moz-input-box.urlbar-input-box {
    	padding-left: 7px !important;
	}

	.urlbarView {

		/*** NAVBAR URL BAR DROP LIST ***/
		background: #1B1B1D !important;
		border-color: #000 !important;
		color: #FFF !important;
		font-size: 11pt !important;
		margin-top: -1px !important;
	}

	:root:not([uidensity="compact"]):not([chromehidden~="toolbar"]) #PanelUI-button {

		/*** NAVBAR PANEL BUTTON ***/
		border-color: #000 !important;
		border-image: none !important;
	}

	:root:not([uidensity="compact"]):not([chromehidden~="toolbar"]) #PanelUI-button #PanelUI-menu-button {
		filter: brigthness(1) invert(1) !important;
	} 

	/* FINDBAR */

	/** DESCRIPTION : change the elements of the find bar **/
	findbar {
		background: #1B1B1D !important;
		border-color: #000 !important;
		color: #FFF !important;
		font-size: 10pt !important;
	}

	.findbar-textbox,
	.findbar-find-previous, 
	.findbar-find-next {
		background: #2A2A2E !important;
		border-color: #111 !important;
		color: #FFF !important;
	}

	.findbar-button:not([disabled="true"]):-moz-any([checked="true"], 
	:hover:active) > .toolbarbutton-text {
	 	background: #000 !important;
	}

	/* HISTORY */

	/** DESCRIPTION : change the elements of the history sidebar **/
	#browser {
		--sidebar-border-color: #000 !important;
	}

	#sidebar-box {
		background-color: #1B1B1D !important;
	}

	hbox#sidebar-search-container textbox#search-box {
  		-moz-appearance: none!important;
		background-color: #222225 !important;
		border: 1px solid #000 !important;
		color: #FFF !important;
		font-size: 10pt !important;
	}

	.sidebar-placesTreechildren,
	#viewButton {
		color: #FFF !important;
		font-size: 10pt !important;
	}

	.sidebar-placesTreechildren:hover {
		background: #222225 !important;
	}

	/* CUSTOMIZATION */

	/** DESCRIPTION : change the elements of the customization page **/
	#customization-container {
		background: #242425 !important;
		color: #FFF !important;
	}

	.customizationmode-button {
		background: #222225 !important;
		border-color: #000 !important;
		color: #FFF !important;
	}
